@import "tailwindcss";

:root {
  /* Define your fonts */
  --font-header: 'Didot', serif;
  --font-body: var(--font-Fira_Code), sans-serif;
}

/* Use Mulish as the default for the body */
body {
  font-family: var(--font-Fira_Code);
}

/* Apply Didot to headers and any element you prefer */
h1, h2, h3, h4, h5, h6, .header {
  font-family: var(--font-Fira_Code);
}